#application base url
VITE_API_BASE_URL =
#VITE_API_BASE_URL = 'https://api.tomcheitora.org.il/api'
VITE_CLOUDINARY_ENDPOINT =
VITE_IMAGE_PRESET =

#application base url
VITE_BASE_URL=

NODE_ENV=

VITE_NEDARIM_TERMINAL =
VITE_NEDARIM_API_PASS =
VITE_PAYMENTCHECKEMAIL =

VITE_CHILD_CATEGORIES=
VITE_PARENT_CATEGORY =
