// Write your overrides
.swal2-popup.swal2-modal.swal2-show {
  padding: 50px;
}
.swal2-header {
  padding: 0;
}
.swal2-image {
  max-width: 100%;
  margin: 0 0 17px;
}
h2#swal2-title {
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  color: #000;
  margin: 0 0 17px;
}
.swal2-html-container {
  padding: 0;
}
div#swal2-html-container {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 27px;
  color: #333;
}
div#swal2-html-container strong {
  font-weight: 700;
}
[dir] .swal2-actions {
    margin: 0;
}
[class^=swal2] {
  -webkit-tap-highlight-color: transparent;
}
.swal2-actions {
  margin: 0;
  display: flex;
  z-index: 1;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}
.swal2-actions .btn {
  text-align: center;
  border: 1px solid transparent;
  padding: 0.386rem 1.3rem;
  border-radius: .358rem;
}
button.swal2-confirm.btn.btn-primary {
  border-color: #d91b35 !important;
  background-color: #d91b35 !important;
  color: #fff !important;
}

button.swal2-cancel.btn.btn-outline-primary {
  border-color: #104d9d !important;
  background-color: #104d9d !important;
  color: #fff !important;
}

.swal2-popup.swal2-modal.swal2-show {
  padding: 50px 45px;
}



.v-card-text.cb_wrapper {
    padding: 0;
}
.v-card-text > div > .master_div {
    border-bottom: 1px solid #d7d7d7;
    border-radius: 0 !important;
    padding: 10px 20px 10px 55px !important;
    margin: 0!important;
}
.v-card-text.cb_wrapper {
    padding: 0 0 20px;
}
.v-card-text > div > .master_div .d-flex.justify-between.align-center {
    justify-content: space-between;
}
.v-card-text > div > .master_div {
    border-bottom: none;
    border-radius: 0 !important;
    padding: 10px 20px 10px 20px !important;
    margin: 0 !important;
    box-shadow: rgba(47, 43, 61, 0.1) 0px 1px 6px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    margin: 0 0 1px !important;
}
.master_div .mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div {
    padding-right: 0 !important;
}
.v-card-text > div > .master_div svg {
    margin-right: 20px;
}
.v-locale--is-rtl .v-card-text > div > .master_div svg{
  margin-left: 20px;
  margin-right: 0;
}


.master_div .ms-4.mt-2 {
    margin-left: 0 !important;
}
.v-locale--is-rtl .master_div .ms-4.mt-2 {
    margin-right: 0 !important;
}

.master_div .mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div .ms-4.mt-2 .cat_name {
    padding-left: 40px;
}

.v-locale--is-rtl .mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div .ms-4.mt-2 .cat_name {
    padding-right: 40px;
    padding-left: 0px;
}


.master_div .mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.master_div .master_div .master_div .cat_name {
    padding-left: 40px !important;
}

.v-locale--is-rtl .master_div .master_div .master_div .cat_name {
    padding-right: 40px !important;
    padding-left: 0!important;
}

.master_div .master_div .master_div .master_div .cat_name {
    padding-left: 40px !important;
}

.v-locale--is-rtl .master_div .master_div .master_div .master_div .cat_name {
    padding-right: 40px !important;
    padding-left: 0px !important;
}


.master_div .master_div .master_div .master_div .master_div .cat_name {
    padding-left: 40px !important;
}

.v-locale--is-rtl .master_div .master_div .master_div .master_div .cat_name {
    padding-right: 40px !important;
    padding-left: 0px !important;
}


.master_div .master_div .master_div .master_div .master_div .master_div .cat_name {
    padding-left: 40px !important;
}

.v-locale--is-rtl .master_div .master_div .master_div .master_div .master_div .master_div .cat_name {
    padding-right: 40px !important;
    padding-left: 0px !important;
}

.v-card-text > div > .master_div svg {
    margin-right: 25px;
}

.v-locale--is-rtl .v-card-text > div > .master_div svg {
    margin-right: 0px;
    margin-left: 25px;
}

.mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div:not(.active) > div:not([class]) {
    display: none;
}
.master_div.has_child .cat_name{
  position: relative;
  cursor: pointer;
  padding-left: 45px;
}

.v-locale--is-rtl .master_div.has_child .cat_name{
  padding-left:0px;
  padding-right: 45px;
}

.master_div.has_child  > div >.cat_name::before{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  content: '';
  background: url(/images/svg/chevron-down.svg) no-repeat center center;
  cursor: pointer;
}
.master_div.has_child.active > div > .cat_name::before{
  background: url(/images/svg/chevron-up.svg) no-repeat center center;
}


.v-locale--is-rtl .master_div.has_child  > div >.cat_name::before{
  left: auto;
  right: 0;
}



.v-card-text > div > .master_div:not(.has_child) svg{
  margin-right: 70px;
}

.v-locale--is-rtl .v-card-text > div > .master_div:not(.has_child) svg{
  margin-right: 0px;
  margin-left: 70px;
}

.master_div.active > div:not([class]){
  display: block;
}
.v-card-text > div > .master_div .master_div svg {
    margin-right: 65px;
}

.v-locale--is-rtl .v-card-text > div > .master_div .master_div svg {
    margin-left: 65px;
    margin-right: 0;
}

.v-card-text > div > .master_div .master_div .master_div svg {
    margin-right: 105px;
}

.v-locale--is-rtl .v-card-text > div > .master_div .master_div .master_div svg {
    margin-left: 105px;
    margin-right: 0;
}

.v-card-text > div > .master_div .master_div .master_div .master_div svg {
    margin-right: 145px;
}

.v-locale--is-rtl .v-card-text > div > .master_div .master_div .master_div .master_div svg {
    margin-left: 145px;
     margin-right: 0;
}



$primray_color: #ED1C24;
$secondary_color:rgba(115, 103, 240, 1);
$dark_blue:#2b3386;
$grey:#727272;
$dark_grey:#494949;
$white:#ffffff;
$black:#000000;
$lightBlue:#ecf5ff;
$lightGrey:#dfdfdf;
$lightGrey2:#f5f5f5;
$grey-2:#aaaaaa;
$grey-3:#aaaaaa;




.front-page-navbar{
  .v-toolbar{
    .v-toolbar__content{
      .v-app-bar-title{
        .app-logo{
          .logo-block{
            width: 50px;
          }
          .app-logo-title{
            
          }
        }
      }
      .text-base{
        .nav-link{
          
          &:hover{
            color: $secondary_color;
          }
        }
      }
      .hdr-top-right{
        .v-btn{
          background-color: $secondary_color !important;
        }
      }
    }
  }
}


.subpage-banner{
  // padding: 120px 0px 50px 0px;
  // background: #f2d3d3;
  // background: linear-gradient(90deg,rgba(242, 211, 211, 1) 0%, rgba(242, 230, 230, 1) 50%, rgba(226, 220, 242, 1) 100%);
  background:  linear-gradient(138.18deg, #eae8fd, #fce5e6 94.44%);
  background-size: cover;
  border-radius: 0 0 50px 50px;
  padding-block: 5.75rem 3rem;

  .v-card-text{
    padding: 0;
    h2{
      font-size: 30px;
      line-height: 40px;
      color: $secondary_color;
      margin: 0px 0px 0px 0px;
    }
  }
}



.product-page{
  .pricing-card{
    &.v-card{
      padding-block-start: 0 !important;
      box-shadow: none;
    }
  }
  .v-app-bar{
    &.v-toolbar{
      background-color: $white !important;
    }
  }
  
  .product-wrapper{
    padding: 30px 0px 50px 0px;
    .filter-area{
      justify-content: space-between;
      align-items: center;
      .filter-btn{
        .v-btn{
          background-color: transparent !important;
          padding-left: 0;
          padding-right: 0;
          color:  $secondary_color !important;
          font-size: 18px;
          box-shadow: none;
          .v-btn__overlay{
            background-color: transparent !important;
            display: none;
          }
          &:hover{
            box-shadow: none;
          }
          &:focus-visible{
            box-shadow: none;
            background-color: transparent !important;
          }
          &.v-btn--variant-elevated{
            box-shadow: none;
            background-color: transparent !important;
          }
        }
      }
      .product-search{
        width: 100%;
        position: relative;
        .search-input-custom{
          position: relative;
          .v-input{
            .v-input__control{
              .v-field{
                .v-field__field{
                  background-color: #fff;
                  border-radius: 5px;
                  height: 40px;
                }
                .v-field__outline{
                  .v-field__outline__start{
                    border-color: $secondary_color !important;
                    opacity: 1;
                  }
                  .v-field__outline__end{
                    border-color: $secondary_color !important;
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
        .search-btn-th{
          position: absolute;
          right: 1px;
          top: 1px;
          button{
            padding: 0;
            background-color: transparent !important;
            box-shadow: none !important;
            min-width: 40px;
            .v-btn__prepend{
              padding: 0 !important;
              color: rgb(115, 103, 240) !important;
              margin-right: 0 !important;
            }
          }
        }
      }
    }
    .product-area{
      .custom-single-product{
        background-color: $white;
        padding: 10px;
        height: 100%;
        box-shadow: 0 3px 12px rgba(var(--v-shadow-key-umbra-color), var(--v-shadow-md-opacity)), 0 0 transparent, 0 0 transparent;
        border-radius: 6px;
        a{
          display: block;
          .product-photo{
            overflow: hidden;
            position: relative;
            padding: 0px;
            .v-responsive{
              position: relative;
              &.active-photo{
                display: block;
              }
              &.hover-photo{
                display: none;
              }
              .v-responsive__sizer{
                padding-bottom: 100px !important;
              }
              img{
                object-fit: cover !important;
                
                
              }
            }
          }
          .product-info-block{
            padding: 15px 0px 0px 0px;

            h5{
              margin-bottom: 5px;
              color: #333;
            }
            h2{
              color: #000;
              margin: 0px 0px 5px 0px;
              font-size: 24px;
              font-weight: 400;
              line-height: 32px;
            }
            h4{
              margin: 0px;
              span{
                display:inline-block;
                padding: 0px 4px 0px 4px;
                &.product-price{
                }
                &.regular-price{
                  text-decoration: line-through;
                }
              }
            }
          }
          &:hover{
            .product-photo{
              .v-responsive{
                &.active-photo{
                  display: none;
                }
                &.hover-photo{
                  display: block;
                }
                img{
                }
                
              }
            }
            .product-info-block{
              h3{
                color: #000;
              }
              h2{
                color: #000;
              }
            }
          }
        }
        
      }
    }
    .product-footer{
      .see-more-btn{
        text-align: center;
        .v-btn{
          background-color:$secondary_color !important;
          border:1px solid $secondary_color !important ;
          color: $white;
          .v-btn__overlay{
      
          }
          .v-btn__underlay{
      
          }
          .v-btn__content{
            color: $white !important;
          }
        }
      
      }
    }
  }

}
.product-photo .v-responsive.v-img img {
    max-height: 150px !important;
    width: 100%;
    display: inline-block !important;
    left: 50%;
    transform: translateX(-50%);
}
.product-photo .v-responsive.v-img{
  text-align: center;
}
.product-page .product-wrapper .product-area .custom-single-product a .product-photo .v-responsive {
    text-align: center;
    width: 100px;
    margin: 0 auto;
}
.layout-blank .tabler-language{
  color: #fff;
}
.product-details-wrapper .product-info-detail-wrapper .product-details-content .product-btn-group-dt .product-cart-btn {
    padding-right: 0;
    gap: 10px;
    display: flex
;
}
.filter-overlay{
  .v-card-title{
    padding: 30px 24px 20px 24px;
    font-size: 20px !important;
    line-height: 28px !important;
    color: $secondary_color;
    font-weight: 700;
    text-align: center;
  }
  .filter-content{
    padding-top: 0 !important;
    .category-list{
      h3{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
        color: $black;
        font-weight: 700;
        opacity: 0.9;
      }
      ul{
        margin: 0 0 20px 0;
        padding: 0;
        list-style: none;
        li{
          display: block;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 8px;
          .form-check{
            display: flex;
            align-items: center;
            .form-check-input{
              width: 18px;
              height: 18px;
            }
            .form-check-label{
              font-size: 16px;
              line-height: 24px;
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
  .dialog-footer{
    justify-content: center !important;
    padding: 0px 0px 20px 0px;
    .button-group-footer{
      display: flex;
      justify-content: center;
      .apply-btn{
        padding: 0px 5px 0px 5px;
        .btn-apply{
          background-color: $secondary_color; color: #fff !important; height: 40px; padding-left: 30px; padding-right: 30px;
        }
      }
      .close-btn-block{
        padding: 0px 5px 0px 5px;
        .v-btn{
          border:1px solid $primray_color !important ;
          color: $primray_color !important;
          height: 40px;
          padding-left: 30px; padding-right: 30px;
        }
      }
    }
  }
}

.product-details-wrapper{
  padding: 60px 0px 60px 0px;
  .product-info-detail-wrapper{
    .roduct-details-slider{
      .product-large-photo{
  
      }
    }
    .product-details-content{
      .product-dt-tittle{
        padding: 0px 0px 10px 0px;
        border-bottom: 1px solid #ededed;
        margin-bottom: 10px;
      }
      .product-price-label{
        margin-bottom: 15px;
        h4{
          margin: 0px;
          font-size: 20px;
          span{
            display:inline-block;
            padding: 0px 4px 0px 4px;
            &.product-price{
            }
            &.regular-price{
              text-decoration: line-through;
            }
          }
        }
      }
      .product-description{
        p{
          margin-bottom: 15px;
        }
      }
      .product-size{
        .dt-block-tittle{
          h3{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px;
            color: #000000;
            font-weight: 700;
            opacity: 0.9;
          }
        }
        .dt-radio-block{
          margin-bottom: 20px;
          .v-input{
            .v-input__control{
              .v-selection-control-group{
                flex-direction: unset;
                .v-selection-control{
                  flex: unset;
                  
                  .v-selection-control__wrapper{
                    
                    .v-selection-control__input{
                      &:before{
                        
                      }
                      svg{
                        
                      }
                    }
                  }
                  .v-label{
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
      .product-Color{
        .dt-block-tittle{
          h3{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px;
            color: #000000;
            font-weight: 700;
            opacity: 0.9;
          }
        }
        .dt-radio-block{
          margin-bottom: 20px;
          .v-input{
            .v-input__control{
              .v-selection-control-group{
                flex-direction: unset;
                .v-selection-control{
                  flex: unset;
                  
                  .v-selection-control__wrapper{
                    
                    .v-selection-control__input{
                      &:before{
                        
                      }
                      svg{
                        
                      }
                    }
                  }
                  .v-label{
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
      .product-quantity{
        margin-bottom: 20px;
        .dt-block-tittle{
          h3{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px;
            color: #000000;
            font-weight: 700;
            opacity: 0.9;
          }
        }
        .quantity-block{
  
        }
      }
      .product-btn-group-dt{
        display: flex;
        .product-cart-btn{
          padding-right: 15px;
        }
      }
    }
  }
  .product-info-tab-section{
    .product-info-tab-container{
      padding: 10px 0px 20px 0px;
    }
  }
  .related-product-section{
    padding: 0px 0px 0px 0px;
    .related-tittle-section{

    }
    .custom-single-product{
      background-color: $white;
      padding: 10px;
      height: 100%;
      box-shadow: 0 3px 12px rgba(var(--v-shadow-key-umbra-color), var(--v-shadow-md-opacity)), 0 0 transparent, 0 0 transparent;
      border-radius: 6px;
      a{
        display: block;
        .product-photo{
          overflow: hidden;
          position: relative;
          padding: 15px;
          .v-responsive{
            position: relative;
            &.active-photo{
              display: block;
            }
            &.hover-photo{
              display: none;
            }
            .v-responsive__sizer{
              padding-bottom: 73% !important;
            }
            img{
              object-fit: cover !important;
              
              
            }
          }
        }
        .product-info-block{
          padding: 15px 0px 15px 0px;
          text-align: center;
          h5{
            color: rgba(var(--v-theme-on-background), var(--v-high-emphasis-opacity));
            margin-bottom: 5px;
          }
          h2{
            color: #000;
            margin: 0px 0px 5px 0px;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
          }
          h4{
            margin: 0px;
            span{
              display:inline-block;
              padding: 0px 4px 0px 4px;
              &.product-price{
              }
              &.regular-price{
                text-decoration: line-through;
              }
            }
          }
        }
        &:hover{
          .product-photo{
            .v-responsive{
              &.active-photo{
                display: none;
              }
              &.hover-photo{
                display: block;
              }
              img{
              }
              
            }
          }
          .product-info-block{
            h3{
              color: #000;
            }
            h2{
              color: #000;
            }
          }
        }
      }
      
    }
  }
  
}

.checkout-page{
  .checkout-card {
    margin-block: 2rem 2rem;
  }
}

.footer{
  .footer-top{
    .custom-ftr-col{
      .app-logo{
        .logo-block{
          width: 50px;
        }
      }
    }    
  }  
}


.v-locale-provider.v-locale--is-rtl .product-page .product-wrapper .filter-area .product-search .search-btn-th {
    left: 1px;
    right: auto;
}
.layout-content-width-boxed .layout-page-content,.layout-content-width-boxed.layout-wrapper.layout-nav-type-vertical .layout-navbar, .layout-content-width-boxed.layout-wrapper.layout-nav-type-vertical .layout-footer{
  width: 100%!important;
  max-inline-size: 100%!important
}


.absolute-category {
    position: absolute;
    width: 100%;
    left: 0;
    background: #fff;
    z-index: 99;
    padding: 10px 10px;
}
.relative{
  position: relative;
}
.absolute-category ul{
  list-style: none;
}
.v-expansion-panels .v-card-text {
    padding: 0;
}
.absolute-category{
  max-height: 350px;
}
.v-theme--dark .absolute-category{
  background-color: #2f3349;
}


html[lang="he"] .justify-space-between .tabler-settings{
  margin-left: 0!important;
  margin-right: auto
}

.custom_field .v-row + .v-row{
  margin-top: 0!important;
}
.d-flex.justify-between.align-center.List_block{
  display: none!important;
}
.d-flex.justify-between.align-center.List_block:has(input[checked]) {
    display: flex !important;
}
.selected_cat .mb-2.px-2.py-1.bg-grey-lighten-4.rounded {
    padding: 0 !important;
}
.no-pagination .v-data-table-footer{
  display: none!important;
}
.cat_list{
  li{
    display: inline-block;
  }
  li + li:before{
    content: ", ";
  }
}


.v-progress-circular{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.product-details-content .v-list-item {
    padding-left: 0;
    padding-right: 0;
}

.cursor-pointer.app-stepper-step.pa-1{
  pointer-events: none;
}
.cursor-pointer.app-stepper-step.stepper-steps-completed{
  pointer-events: auto;
}
.checkout-card .v-radio .v-selection-control__wrapper {
    margin-left: -10px;
}
.product-page .v-app-bar.v-toolbar {
    background-color: transparent !important;
    box-shadow: none !important;
}
.front-page-navbar .v-toolbar{
    margin-block-start:0!important
  }
  header {
    position: relative !important;
    margin-top: 0 !important;
    box-shadow: none !important;
    background-color: transparent!important;
    .v-btn.v-btn--icon{
      background-color: transparent!important;
      color: #ddd!important;
      border: 1px solid #ddd!important
    }

  }
.front-page-navbar .v-toolbar .v-toolbar__content .hdr-top-right .v-btn {
    background-color: transparent !important;
    color: #666 !important;
    border: 1px solid #ddd !important;
    box-shadow: none !important;
}
.front-page-navbar .v-toolbar .v-toolbar__content .hdr-top-right .v-btn i.tabler-language.v-icon.notranslate.v-theme--light.v-icon--size-default {
    color: #666;
}
.front-page-navbar .v-toolbar .v-toolbar__content .hdr-top-right .v-btn:hover{
  background-color: rgba(102,102,102,0.08)!important;
}
.front-page-navbar {
    padding: 5px 0;
    background: #fff!important;
}
.front-page-navbar:after{
  display: none!important;
}

.nav_menu {
    background: #32A744;
    text-align: center;
    a{
      padding: 10px 21px !important;
      color: #fff !important;
      font-weight: 600 !important;
      font-size: 14px;
      display: inline-block;  
    }
}

.front-page-navbar .v-toolbar .v-toolbar__content .text-base .nav-link:hover{
  color: #32A744!important;
}
html .front-page-navbar .v-toolbar {
    inset-inline: 0 !important;
    margin-block-start: 0rem !important;
    margin-inline: auto !important;
}

.sales-wrapper{
  padding: 40px 0;
}
.front-page-navbar .v-toolbar__content {
    padding-inline: 0px !important;
}
.sale_item {
    padding: 30px;
    border: none;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.sale_item h3 {
    font-size: 24px;
    color: rgba(47, 43, 61, 0.9) !important;
    margin: 0 0 10px;
}
.sale_item p.text-sm.text-gray-600 {
    font-size: 15px;
    line-height: 25px;
    margin: 0;
    color: #666;
}
h3.page_title {
    font-size: 25px;
    margin: 0 0 0px;
}
.app-logo.mb-6 h1.app-logo-title.text-white {
    color: #333 !important;
}
.product-page .footer-top.pt-11 {
    background: #fff !important;
    border-radius: 0;
    .text-white-variant {
      color: #62676B!important;
  }
  .v-label{
    color: #62676B!important;
  }
  .text-h6{
    color: #333!important;
  }
}
.product-page{
  .bg-primary{
    background-color: #32A744!important
  }
  .v-field--variant-outlined .v-field__outline__start, .v-field--variant-outlined .v-field__outline__notch::before, .v-field--variant-outlined .v-field__outline__notch::after, .v-field--variant-outlined .v-field__outline__end{
    border-color: #32A744!important;
  }
}
.product-page .footer-top.pt-11 {
    background: #fff !important;
    border-radius: 0;
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
}
.product-page .footer-line.w-100{
  background-color: #fff!important;
  .text-white-variant{
    color: #62676B!important;
  } 
  a{
    color: #32A744!important;
    i{
      color: #62676B!important;
    }
  }
}
html .scroll-to-top{
  background-color: #62676B!important;;
}
html body .v-btn--variant-elevated:not(.v-btn--loading, .v-btn--disabled).bg-primary.scroll-to-top:hover{
  background-color: #333!important;
}
.product-page .product-wrapper .product-area .custom-single-product a .product-info-block h4 span {
    display: inline-block;
    padding: 0;
    color: #32A744;
    font-weight: 500;
}

.product-info-block h5 {
    /* text-align: left; */
    font-weight: 600;
    color: #333;
}
.product-page .bg-primary:hover {
    background-color: #2a8738 !important;
}
// body .product-page .v-btn--variant-elevated:not(.v-btn--loading, .product-page .v-btn--disabled).bg-primary:hover{
//   background-color: #2a8738 !important;
// }
.product-photo .v-responsive.v-img img {
    max-height: 100px !important;
    width: 100px;
    display: inline-block !important;
    left: 50%;
    transform: translateX(-50%);
}
.product-photo .v-responsive__sizer {
    padding-bottom: 150px !important;
}
.product-action-block {
    display: flex
;
    align-items: center;
    justify-content: space-between;
}
.product-action-block span.product-price.text-body-1 {
    color: #32A744 !important;
    font-weight: 600;
}
.product-page .product-wrapper .product-area .custom-single-product a{
  color: #000!important;
}
.action_block .bg-primary {
    background: #fff !important;
    color: #F66004 !important;
    border-radius: 50% !important;
    width: 32px !important;
    height: 32px !important;
    text-align: center;
    padding: 0 !important;
    font-weight: 700;
    border: 3px solid #F1F2F5;
}
.action_block .bg-primary:hover{
  background-color: #F66004 !important;
  color: #fff!important;
  border-color: #F66004 !important;;
  line-height: 23px;
}

.action_block .flex.items-center.space-x-2 > span {
    padding: 0 10px;
}
.product-photo .v-responsive.v-img img {
    max-height: 150px !important;
    width: 100%;
    display: inline-block !important;
    left: 50%;
    transform: translateX(-50%);
}
.custom-single-product .product-photo {
    margin: 0 0 10px;
}

.product-page .product-wrapper .filter-area .filter-btn .v-btn{
  color:#62676B!important;;
}
body .product-page .filter-btn .v-btn--variant-elevated:not(.v-btn--loading, .product-page .filter-btn .v-btn--disabled).bg-primary:hover{
  background-color: transparent!important;
}
.product-page .product-wrapper .filter-area .product-search .search-input-custom .v-input .v-input__control .v-field .v-field__outline .v-field__outline__start,
.product-page .product-wrapper .filter-area .product-search .search-input-custom .v-input .v-input__control .v-field .v-field__outline .v-field__outline__end{
  border-color:#62676B!important;;
}
.tabler-search{
  color: #32A744 !important;
}
.cat_item {
    border-radius: 10px;
    background: #fff !important;
    padding: 10px;
    text-align: center;
}
.cat_item .cat_thumb {
    text-align: center;
}
.cat_item .cat_thumb img{
    max-height: 80px;
    max-width: 80px;
    width: auto;
    height: auto;
}
.cat_item .cat_thumb img {
    max-height: 60px;
    max-width: 60px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}
.cat_item {
    border-radius: 6px;
    background: #fff !important;
    padding: 10px;
    text-align: center;
    /* float: left; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.sales-wrapper.category_slider {
    padding-bottom: 0;
}
.product-action-block h4 {
    line-height: 32px;
}
.product-action-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
}
.action_block .flex.items-center.space-x-2 > span {
    padding: 0 10px;
    line-height: 32px;
}
.cat_item h3 {
    color: rgb(135 133 140 / 90%);
    font-size: 14px;
}
.cat_item{
  cursor: pointer;
}
html .front-page-navbar .v-toolbar__content {
    padding-inline: 0px !important;
}
.product-page.sale_page .front-page-navbar header {
    max-inline-size: 1440px;
}
.product-page.sale_page .v-container {
    max-width: 1470px;
}

.sidebar {
    background: #fff;
    height: 100%;
    border-radius: 5px;
    padding: 20px;
}
.sidebar {
    background: #fff;
    height: calc(100% - 50px);
    border-radius: 5px;
    padding: 20px;
    overflow: auto;
}
.sidebar h3 {
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 5px;
}
.category_items .mb-2.px-2.py-1.bg-grey-lighten-4.rounded {
    padding: 0 !important;
    margin: 0 0 0 -10px !important;
}
.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 20px!important;
  color: #444;
}
// .swiper-button-prev,
// .swiper-button-next {
//     color: #444;
// }
.flex.items-center.gap-2 {
    display: flex
;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
}
.category_items > ul.list-none.pl-3 {
    margin: 0 0 0 -8px !important;
    padding: 0 !important;
}
.cat_item.activeCat {
    border: 2px solid #32A744 !important;
}
.cat_item {
    border: 2px solid transparent !important;
}
.category_items .v-selection-control--dirty .v-selection-control__input path{
  fill: #32A744 !important;

}
.subpage-banner .v-card-text h2{
  color: #333;
}
body .v-tabs.v-tabs-pill .v-tab--selected.text-primary{
  background-color: #32A744 !important;;
}
.product-page .text-primary {
    color: #333 !important;
}
a.font-weight-medium{
  color: rgba(47, 43, 61, 0.9) !important;
}
html .app-stepper.app-stepper-icons:not(.stepper-icon-step-bg) .stepper-steps-completed .stepper-icon-step, 
html .app-stepper.app-stepper-icons:not(.stepper-icon-step-bg) .stepper-steps-completed .stepper-step-icon, 
html .app-stepper.app-stepper-icons:not(.stepper-icon-step-bg) .stepper-steps-completed .stepper-title, 
html .app-stepper.app-stepper-icons:not(.stepper-icon-step-bg) .stepper-steps-completed .stepper-subtitle, 
html .app-stepper.app-stepper-icons:not(.stepper-icon-step-bg) .stepper-steps-active .stepper-icon-step, 
html .app-stepper.app-stepper-icons:not(.stepper-icon-step-bg) .stepper-steps-active .stepper-step-icon, 
html .app-stepper.app-stepper-icons:not(.stepper-icon-step-bg) .stepper-steps-active .stepper-title, 
html .app-stepper.app-stepper-icons:not(.stepper-icon-step-bg) .stepper-steps-active .stepper-subtitle{
  color: #32A744 !important;;;
}

body .product-page .v-btn--variant-elevated:not(.v-btn--loading, 
body .product-page .v-btn--disabled).bg-primary:hover, 
body .product-page .v-btn--variant-elevated:not(.v-btn--loading, 
body .product-page .v-btn--disabled).bg-primary:active, body .v-btn--variant-elevated:not(.v-btn--loading, 
body .product-page .v-btn--disabled).bg-primary:focus, body .v-btn--variant-flat:not(.v-btn--loading, 
body .product-page .v-btn--disabled).bg-primary:hover, body .v-btn--variant-flat:not(.v-btn--loading, 
body .product-page .v-btn--disabled).bg-primary:active, body .v-btn--variant-flat:not(.v-btn--loading, 
body .product-page .v-btn--disabled).bg-primary:focus{
  background-color: #32A744 !important;;;;
}
body .product-page .app-text-field .v-label:has(+ .v-input .v-field.v-field--focused .v-field__outline.text-primary), 
body .product-page .app-select .v-label:has(+ .v-input .v-field.v-field--focused .v-field__outline.text-primary), 
body .product-page .app-autocomplete .v-label:has(+ .v-input .v-field.v-field--focused .v-field__outline.text-primary), 
body .product-page .app-combobox .v-label:has(+ .v-input .v-field.v-field--focused .v-field__outline.text-primary), 
body .product-page .app-textarea .v-label:has(+ .v-input .v-field.v-field--focused .v-field__outline.text-primary), 
body .product-page .app-picker-field .v-label:has(+ .v-input .v-field.v-field--focused .v-field__outline.text-primary){
  color: #2f2b3de6!important;
}
.custom-single-product {
    position: relative;
}
.stock_out {
    font-size: 12px;
    position: absolute;
    z-index: 9;
    background: red;
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    padding: 3px 8px;
    left: 12px;
}
button.addToCart_disable.px-4.py-2.bg-primary.text-white.rounded {
    pointer-events: none;
    opacity: 0.7;
}
.verify_modal .v-card-title.text-h6 {
    padding: 20px 24px 0;
    font-size: 18px !important;
}
.verify_modal .app-text-field.flex-grow-1 + p {
    margin-top: 20px;
}
.verify_modal .v-input p {
    margin-bottom: 5px;
}
.verify_modal .v-card-text p {
    margin-bottom: 5px;
}
.verify_modal .v-card-actions {
    padding: 0 24px 20px;
}
.verify_modal button[type="submit"] {
    background-color: #32A744;
    color: #fff !important;
}
.v-tabs .v-btn:hover:not(.v-tab--selected){
  color: #32A744!important;
}

body .product-page header .v-btn--variant-elevated:not(.v-btn--loading, 
body .product-page header .v-btn--disabled).bg-primary:hover, 
body .product-page header .v-btn--variant-elevated:not(.v-btn--loading, 
body .product-page header .v-btn--disabled).bg-primary:active, 
body header .v-btn--variant-elevated:not(.v-btn--loading, 
body .product-page header .v-btn--disabled).bg-primary:focus, 
body header .v-btn--variant-flat:not(.v-btn--loading, 
body .product-page header .v-btn--disabled).bg-primary:hover, 
body header .v-btn--variant-flat:not(.v-btn--loading, 
body .product-page header .v-btn--disabled).bg-primary:active, 
body header .v-btn--variant-flat:not(.v-btn--loading, 
body .product-page header .v-btn--disabled).bg-primary:focus{
  background-color: rgba(102, 102, 102, 0.08) !important;
}

.s_items {
    background: #ddd;
    border-radius: 10px;
    margin: 0 10px 5px 0;
    display: inline-block;
    padding: 0 8px !important;
    font-size: 12px;
}
.s_items button.text-red-500.hover\:text-red-700 {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #8C8992;
    line-height: 15px;
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
    margin-top: -1px;
    position: relative;
    top: -1px;
    font-weight: 700;
}

.field_block {
    gap: 10px;
    display: flex;
}
@media only screen and (max-width: 767px) {
  .product-page.sale_page .front-page-navbar header {
      padding: 0 20px;
  }
  .v-toolbar__content button#vertical-nav-toggle-btn {
      margin-left: 0 !important;
  }
  .sales-wrapper {
    padding: 30px 0;
}
}

