// Write your overrides
.swal2-popup.swal2-modal.swal2-show {
  padding: 50px;
}
.swal2-header {
  padding: 0;
}
.swal2-image {
  max-width: 100%;
  margin: 0 0 17px;
}
h2#swal2-title {
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  color: #000;
  margin: 0 0 17px;
}
.swal2-html-container {
  padding: 0;
}
div#swal2-html-container {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 27px;
  color: #333;
}
div#swal2-html-container strong {
  font-weight: 700;
}
[dir] .swal2-actions {
    margin: 0;
}
[class^=swal2] {
  -webkit-tap-highlight-color: transparent;
}
.swal2-actions {
  margin: 0;
  display: flex;
  z-index: 1;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}
.swal2-actions .btn {
  text-align: center;
  border: 1px solid transparent;
  padding: 0.386rem 1.3rem;
  border-radius: .358rem;
}
button.swal2-confirm.btn.btn-primary {
  border-color: #d91b35 !important;
  background-color: #d91b35 !important;
  color: #fff !important;
}

button.swal2-cancel.btn.btn-outline-primary {
  border-color: #104d9d !important;
  background-color: #104d9d !important;
  color: #fff !important;
}

.swal2-popup.swal2-modal.swal2-show {
  padding: 50px 45px;
}



.v-card-text.cb_wrapper {
    padding: 0;
}
.v-card-text > div > .master_div {
    border-bottom: 1px solid #d7d7d7;
    border-radius: 0 !important;
    padding: 10px 20px 10px 55px !important;
    margin: 0!important;
}
.v-card-text.cb_wrapper {
    padding: 0 0 20px;
}
.v-card-text > div > .master_div .d-flex.justify-between.align-center {
    justify-content: space-between;
}
.v-card-text > div > .master_div {
    border-bottom: none;
    border-radius: 0 !important;
    padding: 10px 20px 10px 20px !important;
    margin: 0 !important;
    box-shadow: rgba(47, 43, 61, 0.1) 0px 1px 6px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    margin: 0 0 1px !important;
}
.master_div .mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div {
    padding-right: 0 !important;
}
.v-card-text > div > .master_div svg {
    margin-right: 20px;
}
.v-locale--is-rtl .v-card-text > div > .master_div svg{
  margin-left: 20px;
  margin-right: 0;
}


.master_div .ms-4.mt-2 {
    margin-left: 0 !important;
}
.v-locale--is-rtl .master_div .ms-4.mt-2 {
    margin-right: 0 !important;
}

.master_div .mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div .ms-4.mt-2 .cat_name {
    padding-left: 40px;
}

.v-locale--is-rtl .mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div .ms-4.mt-2 .cat_name {
    padding-right: 40px;
    padding-left: 0px;
}


.master_div .mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.master_div .master_div .master_div .cat_name {
    padding-left: 40px !important;
}

.v-locale--is-rtl .master_div .master_div .master_div .cat_name {
    padding-right: 40px !important;
    padding-left: 0!important;
}

.master_div .master_div .master_div .master_div .cat_name {
    padding-left: 40px !important;
}

.v-locale--is-rtl .master_div .master_div .master_div .master_div .cat_name {
    padding-right: 40px !important;
    padding-left: 0px !important;
}


.master_div .master_div .master_div .master_div .master_div .cat_name {
    padding-left: 40px !important;
}

.v-locale--is-rtl .master_div .master_div .master_div .master_div .cat_name {
    padding-right: 40px !important;
    padding-left: 0px !important;
}


.master_div .master_div .master_div .master_div .master_div .master_div .cat_name {
    padding-left: 40px !important;
}

.v-locale--is-rtl .master_div .master_div .master_div .master_div .master_div .master_div .cat_name {
    padding-right: 40px !important;
    padding-left: 0px !important;
}

.v-card-text > div > .master_div svg {
    margin-right: 25px;
}

.v-locale--is-rtl .v-card-text > div > .master_div svg {
    margin-right: 0px;
    margin-left: 25px;
}

.mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div:not(.active) > div:not([class]) {
    display: none;
}
.master_div.has_child .cat_name{
  position: relative;
  cursor: pointer;
  padding-left: 45px;
}

.v-locale--is-rtl .master_div.has_child .cat_name{
  padding-left:0px;
  padding-right: 45px;
}

.master_div.has_child  > div >.cat_name::before{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  content: '';
  background: url(/images/svg/chevron-down.svg) no-repeat center center;
  cursor: pointer;
}
.master_div.has_child.active > div > .cat_name::before{
  background: url(/images/svg/chevron-up.svg) no-repeat center center;
}


.v-locale--is-rtl .master_div.has_child  > div >.cat_name::before{
  left: auto;
  right: 0;
}



.v-card-text > div > .master_div:not(.has_child) svg{
  margin-right: 70px;
}

.v-locale--is-rtl .v-card-text > div > .master_div:not(.has_child) svg{
  margin-right: 0px;
  margin-left: 70px;
}

.master_div.active > div:not([class]){
  display: block;
}
.v-card-text > div > .master_div .master_div svg {
    margin-right: 65px;
}

.v-locale--is-rtl .v-card-text > div > .master_div .master_div svg {
    margin-left: 65px;
    margin-right: 0;
}

.v-card-text > div > .master_div .master_div .master_div svg {
    margin-right: 105px;
}

.v-locale--is-rtl .v-card-text > div > .master_div .master_div .master_div svg {
    margin-left: 105px;
    margin-right: 0;
}

.v-card-text > div > .master_div .master_div .master_div .master_div svg {
    margin-right: 145px;
}

.v-locale--is-rtl .v-card-text > div > .master_div .master_div .master_div .master_div svg {
    margin-left: 145px;
     margin-right: 0;
}



$primray_color: #ED1C24;
$secondary_color:rgba(115, 103, 240, 1);
$dark_blue:#2b3386;
$grey:#727272;
$dark_grey:#494949;
$white:#ffffff;
$black:#000000;
$lightBlue:#ecf5ff;
$lightGrey:#dfdfdf;
$lightGrey2:#f5f5f5;
$grey-2:#aaaaaa;
$grey-3:#aaaaaa;




.front-page-navbar{
  .v-toolbar{
    .v-toolbar__content{
      .v-app-bar-title{
        .app-logo{
          .logo-block{
            width: 50px;
          }
          .app-logo-title{
            
          }
        }
      }
      .text-base{
        .nav-link{
          
          &:hover{
            color: $secondary_color;
          }
        }
      }
      .hdr-top-right{
        .v-btn{
          background-color: $secondary_color !important;
        }
      }
    }
  }
}


.subpage-banner{
  // padding: 120px 0px 50px 0px;
  // background: #f2d3d3;
  // background: linear-gradient(90deg,rgba(242, 211, 211, 1) 0%, rgba(242, 230, 230, 1) 50%, rgba(226, 220, 242, 1) 100%);
  background:  linear-gradient(138.18deg, #eae8fd, #fce5e6 94.44%);
  background-size: cover;
  border-radius: 0 0 50px 50px;
  padding-block: 9.75rem 3rem;

  .v-card-text{
    padding: 0;
    h2{
      font-size: 30px;
      line-height: 40px;
      color: $secondary_color;
      margin: 0px 0px 0px 0px;
    }
  }
}



.product-page{
  .pricing-card{
    &.v-card{
      padding-block-start: 0 !important;
      box-shadow: none;
    }
  }
  .v-app-bar{
    &.v-toolbar{
      background-color: $white !important;
    }
  }
  
  .product-wrapper{
    padding: 30px 0px 50px 0px;
    .filter-area{
      justify-content: space-between;
      align-items: center;
      .filter-btn{
        .v-btn{
          background-color: transparent !important;
          padding-left: 0;
          padding-right: 0;
          color:  $secondary_color !important;
          font-size: 18px;
          box-shadow: none;
          .v-btn__overlay{
            background-color: transparent !important;
            display: none;
          }
          &:hover{
            box-shadow: none;
          }
          &:focus-visible{
            box-shadow: none;
            background-color: transparent !important;
          }
          &.v-btn--variant-elevated{
            box-shadow: none;
            background-color: transparent !important;
          }
        }
      }
      .product-search{
        width: 100%;
        position: relative;
        .search-input-custom{
          position: relative;
          .v-input{
            .v-input__control{
              .v-field{
                .v-field__field{
                  background-color: #fff;
                  border-radius: 5px;
                  height: 40px;
                }
                .v-field__outline{
                  .v-field__outline__start{
                    border-color: $secondary_color !important;
                    opacity: 1;
                  }
                  .v-field__outline__end{
                    border-color: $secondary_color !important;
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
        .search-btn-th{
          position: absolute;
          right: 1px;
          top: 1px;
          button{
            padding: 0;
            background-color: transparent !important;
            box-shadow: none !important;
            min-width: 40px;
            .v-btn__prepend{
              padding: 0 !important;
              color: rgb(115, 103, 240) !important;
              margin-right: 0 !important;
            }
          }
        }
      }
    }
    .product-area{
      .custom-single-product{
        background-color: $white;
        padding: 10px;
        height: 100%;
        box-shadow: 0 3px 12px rgba(var(--v-shadow-key-umbra-color), var(--v-shadow-md-opacity)), 0 0 transparent, 0 0 transparent;
        border-radius: 6px;
        a{
          display: block;
          .product-photo{
            overflow: hidden;
            position: relative;
            padding: 0px;
            .v-responsive{
              position: relative;
              &.active-photo{
                display: block;
              }
              &.hover-photo{
                display: none;
              }
              .v-responsive__sizer{
                padding-bottom: 100px !important;
              }
              img{
                object-fit: cover !important;
                
                
              }
            }
          }
          .product-info-block{
            padding: 15px 0px 0px 0px;
            text-align: center;
            h5{
              color: rgba(var(--v-theme-on-background), var(--v-high-emphasis-opacity));
              margin-bottom: 5px;
            }
            h2{
              color: #000;
              margin: 0px 0px 5px 0px;
              font-size: 24px;
              font-weight: 400;
              line-height: 32px;
            }
            h4{
              margin: 0px;
              span{
                display:inline-block;
                padding: 0px 4px 0px 4px;
                &.product-price{
                }
                &.regular-price{
                  text-decoration: line-through;
                }
              }
            }
          }
          &:hover{
            .product-photo{
              .v-responsive{
                &.active-photo{
                  display: none;
                }
                &.hover-photo{
                  display: block;
                }
                img{
                }
                
              }
            }
            .product-info-block{
              h3{
                color: #000;
              }
              h2{
                color: #000;
              }
            }
          }
        }
        
      }
    }
    .product-footer{
      .see-more-btn{
        text-align: center;
        .v-btn{
          background-color:$secondary_color !important;
          border:1px solid $secondary_color !important ;
          color: $white;
          .v-btn__overlay{
      
          }
          .v-btn__underlay{
      
          }
          .v-btn__content{
            color: $white !important;
          }
        }
      
      }
    }
  }

}
.product-photo .v-responsive.v-img img {
    max-height: 100px !important;
    width: 100px;
    display: inline-block !important;
}
.product-photo .v-responsive.v-img{
  text-align: center;
}
.product-page .product-wrapper .product-area .custom-single-product a .product-photo .v-responsive {
    text-align: center;
    width: 100px;
    margin: 0 auto;
}
.layout-blank .tabler-language{
  color: #fff;
}
.product-details-wrapper .product-info-detail-wrapper .product-details-content .product-btn-group-dt .product-cart-btn {
    padding-right: 0;
    gap: 10px;
    display: flex
;
}
.filter-overlay{
  .v-card-title{
    padding: 30px 24px 20px 24px;
    font-size: 20px !important;
    line-height: 28px !important;
    color: $secondary_color;
    font-weight: 700;
    text-align: center;
  }
  .filter-content{
    padding-top: 0 !important;
    .category-list{
      h3{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
        color: $black;
        font-weight: 700;
        opacity: 0.9;
      }
      ul{
        margin: 0 0 20px 0;
        padding: 0;
        list-style: none;
        li{
          display: block;
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 8px;
          .form-check{
            display: flex;
            align-items: center;
            .form-check-input{
              width: 18px;
              height: 18px;
            }
            .form-check-label{
              font-size: 16px;
              line-height: 24px;
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
  .dialog-footer{
    justify-content: center !important;
    padding: 0px 0px 20px 0px;
    .button-group-footer{
      display: flex;
      justify-content: center;
      .apply-btn{
        padding: 0px 5px 0px 5px;
        .btn-apply{
          background-color: $secondary_color; color: #fff !important; height: 40px; padding-left: 30px; padding-right: 30px;
        }
      }
      .close-btn-block{
        padding: 0px 5px 0px 5px;
        .v-btn{
          border:1px solid $primray_color !important ;
          color: $primray_color !important;
          height: 40px;
          padding-left: 30px; padding-right: 30px;
        }
      }
    }
  }
}

.product-details-wrapper{
  padding: 60px 0px 60px 0px;
  .product-info-detail-wrapper{
    .roduct-details-slider{
      .product-large-photo{
  
      }
    }
    .product-details-content{
      .product-dt-tittle{
        padding: 0px 0px 10px 0px;
        border-bottom: 1px solid #ededed;
        margin-bottom: 10px;
      }
      .product-price-label{
        margin-bottom: 15px;
        h4{
          margin: 0px;
          font-size: 20px;
          span{
            display:inline-block;
            padding: 0px 4px 0px 4px;
            &.product-price{
            }
            &.regular-price{
              text-decoration: line-through;
            }
          }
        }
      }
      .product-description{
        p{
          margin-bottom: 15px;
        }
      }
      .product-size{
        .dt-block-tittle{
          h3{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px;
            color: #000000;
            font-weight: 700;
            opacity: 0.9;
          }
        }
        .dt-radio-block{
          margin-bottom: 20px;
          .v-input{
            .v-input__control{
              .v-selection-control-group{
                flex-direction: unset;
                .v-selection-control{
                  flex: unset;
                  
                  .v-selection-control__wrapper{
                    
                    .v-selection-control__input{
                      &:before{
                        
                      }
                      svg{
                        
                      }
                    }
                  }
                  .v-label{
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
      .product-Color{
        .dt-block-tittle{
          h3{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px;
            color: #000000;
            font-weight: 700;
            opacity: 0.9;
          }
        }
        .dt-radio-block{
          margin-bottom: 20px;
          .v-input{
            .v-input__control{
              .v-selection-control-group{
                flex-direction: unset;
                .v-selection-control{
                  flex: unset;
                  
                  .v-selection-control__wrapper{
                    
                    .v-selection-control__input{
                      &:before{
                        
                      }
                      svg{
                        
                      }
                    }
                  }
                  .v-label{
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
      .product-quantity{
        margin-bottom: 20px;
        .dt-block-tittle{
          h3{
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px;
            color: #000000;
            font-weight: 700;
            opacity: 0.9;
          }
        }
        .quantity-block{
  
        }
      }
      .product-btn-group-dt{
        display: flex;
        .product-cart-btn{
          padding-right: 15px;
        }
      }
    }
  }
  .product-info-tab-section{
    .product-info-tab-container{
      padding: 10px 0px 20px 0px;
    }
  }
  .related-product-section{
    padding: 0px 0px 0px 0px;
    .related-tittle-section{

    }
    .custom-single-product{
      background-color: $white;
      padding: 10px;
      height: 100%;
      box-shadow: 0 3px 12px rgba(var(--v-shadow-key-umbra-color), var(--v-shadow-md-opacity)), 0 0 transparent, 0 0 transparent;
      border-radius: 6px;
      a{
        display: block;
        .product-photo{
          overflow: hidden;
          position: relative;
          padding: 15px;
          .v-responsive{
            position: relative;
            &.active-photo{
              display: block;
            }
            &.hover-photo{
              display: none;
            }
            .v-responsive__sizer{
              padding-bottom: 73% !important;
            }
            img{
              object-fit: cover !important;
              
              
            }
          }
        }
        .product-info-block{
          padding: 15px 0px 15px 0px;
          text-align: center;
          h5{
            color: rgba(var(--v-theme-on-background), var(--v-high-emphasis-opacity));
            margin-bottom: 5px;
          }
          h2{
            color: #000;
            margin: 0px 0px 5px 0px;
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
          }
          h4{
            margin: 0px;
            span{
              display:inline-block;
              padding: 0px 4px 0px 4px;
              &.product-price{
              }
              &.regular-price{
                text-decoration: line-through;
              }
            }
          }
        }
        &:hover{
          .product-photo{
            .v-responsive{
              &.active-photo{
                display: none;
              }
              &.hover-photo{
                display: block;
              }
              img{
              }
              
            }
          }
          .product-info-block{
            h3{
              color: #000;
            }
            h2{
              color: #000;
            }
          }
        }
      }
      
    }
  }
  
}

.checkout-page{
  .checkout-card {
    margin-block: 2rem 2rem;
  }
}

.footer{
  .footer-top{
    .custom-ftr-col{
      .app-logo{
        .logo-block{
          width: 50px;
        }
      }
    }    
  }  
}


.v-locale-provider.v-locale--is-rtl .product-page .product-wrapper .filter-area .product-search .search-btn-th {
    left: 1px;
    right: auto;
}
.layout-content-width-boxed .layout-page-content,.layout-content-width-boxed.layout-wrapper.layout-nav-type-vertical .layout-navbar, .layout-content-width-boxed.layout-wrapper.layout-nav-type-vertical .layout-footer{
  width: 100%!important;
  max-inline-size: 100%!important
}


.absolute-category {
    position: absolute;
    width: 100%;
    left: 0;
    background: #fff;
    z-index: 99;
    padding: 10px 10px;
}
.relative{
  position: relative;
}
.absolute-category ul{
  list-style: none;
}
.v-expansion-panels .v-card-text {
    padding: 0;
}
.absolute-category{
  max-height: 350px;
}
.v-theme--dark .absolute-category{
  background-color: #2f3349;
}


html[lang="he"] .justify-space-between .tabler-settings{
  margin-left: 0!important;
  margin-right: auto
}

.custom_field .v-row + .v-row{
  margin-top: 0!important;
}
.d-flex.justify-between.align-center.List_block{
  display: none!important;
}
.d-flex.justify-between.align-center.List_block:has(input[checked]) {
    display: flex !important;
}
.selected_cat .mb-2.px-2.py-1.bg-grey-lighten-4.rounded {
    padding: 0 !important;
}
.no-pagination .v-data-table-footer{
  display: none!important;
}
.cat_list{
  li{
    display: inline-block;
  }
  li + li:before{
    content: ", ";
  }
}


.v-progress-circular{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.product-details-content .v-list-item {
    padding-left: 0;
    padding-right: 0;
}
