// Write your overrides
.swal2-popup.swal2-modal.swal2-show {
  padding: 50px;
}
.swal2-header {
  padding: 0;
}
.swal2-image {
  max-width: 100%;
  margin: 0 0 17px;
}
h2#swal2-title {
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  color: #000;
  margin: 0 0 17px;
}
.swal2-html-container {
  padding: 0;
}
div#swal2-html-container {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 27px;
  color: #333;
}
div#swal2-html-container strong {
  font-weight: 700;
}
[dir] .swal2-actions {
    margin: 0;
}
[class^=swal2] {
  -webkit-tap-highlight-color: transparent;
}
.swal2-actions {
  margin: 0;
  display: flex;
  z-index: 1;
  box-sizing: border-box;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}
.swal2-actions .btn {
  text-align: center;
  border: 1px solid transparent;
  padding: 0.386rem 1.3rem;
  border-radius: .358rem;
}
button.swal2-confirm.btn.btn-primary {
  border-color: #d91b35 !important;
  background-color: #d91b35 !important;
  color: #fff !important;
}

button.swal2-cancel.btn.btn-outline-primary {
  border-color: #104d9d !important;
  background-color: #104d9d !important;
  color: #fff !important;
}

.swal2-popup.swal2-modal.swal2-show {
  padding: 50px 45px;
}



.v-card-text.cb_wrapper {
    padding: 0;
}
.v-card-text > div > .master_div {
    border-bottom: 1px solid #d7d7d7;
    border-radius: 0 !important;
    padding: 10px 20px 10px 55px !important;
    margin: 0!important;
}
.v-card-text.cb_wrapper {
    padding: 0 0 20px;
}
.v-card-text > div > .master_div .d-flex.justify-between.align-center {
    justify-content: space-between;
}
.v-card-text > div > .master_div {
    border-bottom: none;
    border-radius: 0 !important;
    padding: 10px 20px 10px 20px !important;
    margin: 0 !important;
    box-shadow: rgba(47, 43, 61, 0.1) 0px 1px 6px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    margin: 0 0 1px !important;
}
.master_div .mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div {
    padding-right: 0 !important;
}
.v-card-text > div > .master_div svg {
    margin-right: 20px;
}
.master_div .ms-4.mt-2 {
    margin-left: 0 !important;
}
.master_div .mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div .ms-4.mt-2 .cat_name {
    padding-left: 40px;
}

.master_div .mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.master_div .master_div .master_div .cat_name {
    padding-left: 40px !important;
}

.master_div .master_div .master_div .master_div .cat_name {
    padding-left: 40px !important;
}
.master_div .master_div .master_div .master_div .master_div .cat_name {
    padding-left: 40px !important;
}

.master_div .master_div .master_div .master_div .master_div .master_div .cat_name {
    padding-left: 40px !important;
}

.v-card-text > div > .master_div svg {
    margin-right: 25px;
}

.mb-2.px-2.py-1.bg-grey-lighten-4.rounded.master_div:not(.active) > div:not([class]) {
    display: none;
}
.master_div.has_child .cat_name{
  position: relative;
  cursor: pointer;
  padding-left: 45px;
}

.master_div.has_child  > div >.cat_name::before{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  content: '';
  background: url(/images/svg/chevron-down.svg) no-repeat center center;
  cursor: pointer;
}
.master_div.has_child.active > div > .cat_name::before{
  background: url(/images/svg/chevron-up.svg) no-repeat center center;
}


.v-card-text > div > .master_div:not(.has_child) svg{
  margin-right: 70px;
}
.master_div.active > div:not([class]){
  display: block;
}
.v-card-text > div > .master_div .master_div svg {
    margin-right: 65px;
}

.v-card-text > div > .master_div .master_div .master_div svg {
    margin-right: 105px;
}

.v-card-text > div > .master_div .master_div .master_div .master_div svg {
    margin-right: 145px;
}

